@font-face {
    font-family: Inter;
    src: url(../material/Inter.ttf);
}

body {
    font-family: Inter;
}

p {
    color: #666666;
}

h2 {
    color: #7f7f7f;
    opacity: .5;
    font-size: 36px;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
    color: black;
    font-size: smaller;
}

#nav_left {
    display: flex;
    align-items: center;
    gap: 15px;
}

#barky_logo {
    width: 110px;
    /*height: auto;*/
}

.arrow {
    padding-left: 5px;
}

#nav_right {
    display: flex;
    align-items: center;
    gap: 20px;
}

#line_divide {
    border-right: 1px solid rgb(0, 0, 0, 0.5);
    padding-right: 20px;
}

.button_free {
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 8px;
    border-radius: 5px;
}

main {
    width: 1000px;
    margin: auto;
}

#container {
    max-width: 1000px;
    margin: 50px auto;
}

/* SECTION HERO*/

/* SECTION HERO*//*FIXA, FLYTTA KNAPP NER, MER BREDD PÅ SIDORNA, ÄNDRA FÄRG PÅ P*/
/*FIXA, FLYTTA KNAPP NER, MER BREDD PÅ SIDORNA, ÄNDRA FÄRG PÅ P*/

#hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 50px;
    column-gap: 20px;

    padding-bottom: 50px;
    height: 250px;
    box-sizing: content-box;
}

#hero_left {
    text-align: left;
    box-sizing: border-box;
    margin-top: -20px;
    height: auto;
}

#hero_left h2 {
    font-size: 50px;
    margin-bottom: 0;
}

#hero_left p {
    font-size: 20px;
}

#hero_right img {
    width: 100%;
}

/*PARTNER_LOGOS*/
#partner_logos {
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
}

#partner_logos img {
    padding: 10px;
    height: 20px;
}

/*FETCH_RESULTS*/
#fetch_results {
    box-sizing: border-box;
    padding: 30px;
}

#fetch_results img {
    width: 100%;
}

/* FACE_TEXT CLASS*/
.face_text {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(10, 100px);
    grid-template-rows: repeat(2, 40px);
}

.face_text img {
    width: 60%;
    grid-column-start: 5;
    margin: auto;
}

.face_text h4 {
    margin-top: 10px;
    grid-column-start: span 2;
}

.face_text p {
    grid-column: 6/9;
    grid-row: 2/3;
    font-size: 12px;
    margin-top: 0;
}